<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Form</title>
</head>

  <body>
   <nav>Jim's Books</nav>
    <ul>
      <form action="/search" method="POST">
        <li id="search"><input type="text" placeholder="Enter a Title or Author" name="query"> </li>
        <li id="title"><input type="radio" value="title" name="selectionType">Title</li>
        <li id="Author"><input type="radio" value="author" name="selectionType">Author</li>
        <li id="search_button"><button type="submit" ></li>
      </form>
    </ul>
  </body>

</html>